alias flywire="cd ~/Development/flywire"
alias platform="flywire; cd platform/code/platform"
alias recon="platform; cd apps/recon"
alias partners="platform; cd apps/partners"

alias dockerup="docker-compose up --build"
alias dockerexec="docker-compose exec recon"
alias vs="vagrant up; vagrant ssh"
alias ve="vagrant halt; exit"

alias vibaiher="cd ~/Development/vibaiher"
alias healthz="cd ~/Development/vibaiher/healthz"
alias blog="cd ~/Development/vibaiher/vibaiher.com"
alias ribercan="cd ~/Development/vibaiher/ribercan.org"
alias valenciarb="cd ~/Development/valencia.rb"
alias homework="cd ~/Development/flywire/homework"

alias elena="cd ~/Development/elenamg/platform"

alias be="bundle exec"
alias ber="bundle exec rspec"
