alias flywire="cd ~/Development/code/platform"
alias flybye="cd ~/Development/code/platform; vagrant halt; exit"
alias vs="vagrant up; vagrant ssh"

alias vibaiher="cd ~/Development/vibaiher"
alias valenciarb="cd ~/Development/valencia.rb"
alias vlctechhub="cd ~/Development/vlctechhub"
